

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<link href="static/css/mylogin.css" rel="stylesheet">
  


<style>
body {
	background-image: url('static/images/loginBackground.jpg');
}
</style>
</head>
<body>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 text-center">
				<h1 class='text-white'>Unique Login Form</h1>
				<form action="/login" method="post">
					<div class="form-login">
						<br>
						<h4>Secure Login</h4>
						<br>
						<input type="text" id="userName" name="username"
							class="form-control input-sm chat-input " placeholder="username" />
						<br> <input type="password" id="userPassword" name="password"
							class="form-control input-sm chat-input" placeholder="password" />
						<br>
						<br>
						<p class="loginFailMsg">Login Fail</p>
						<div class="wrapper">

							<input class="btn btn-primary btn-md " type="submit" value="Login"></input>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
		<br>
		<br>
		<!--footer-->
		<div class="footer text-white text-center">
			<p>
				© 2018 Unique Login Form. All rights reserved | Design by <a
					href="https://starttemplates.com" rel="dofollow">Leamug</a>
			</p>
		</div>
		<!--//footer-->
	</div>
</body>
<script>

      var query = window.location.search
      var vars = query.split("&");
      if(query.length==0)
      	$(".loginFailMsg").css("display","none");

</script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords"
	content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
<meta name="author" content="leamug">
<!-- Bootstrap core Library -->
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">

<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<!-- Font Awesome-->
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
</html>